#!/usr/bin/env bash
# vim:ft=bash

function run {
    if ! pgrep -u $USER -f $1; then
        ${@:2} &
    fi
}

run nitrogen nitrogen --restore
run nm-applet nm-applet
run volumeicon volumeicon
run blueman-applet blueman-applet
run activitywatch-window aw-watcher-window
run activitywatch-afk aw-watcher-afk
run activitywatch aw-qt
run barrier barrier
run syncthing syncthing -no-browser
