# vim:fileencoding=utf-8:ft=conf

# Reference: https://sw.kovidgoyal.net/kitty/conf.html
# Example conf: https://github.com/koekeishiya/dotfiles/blob/master/kitty/kitty.conf

# Font family. You can also specify different fonts for the
# bold/italic/bold-italic variants. By default they are derived automatically,
# by the OSes font system. Setting them manually is useful for font families
# that have many weight variants like Book, Medium, Thick, etc. For example:

# Fira Code
# font_family      Fira Code Retina Nerd Font Complete
# bold_font        Fira Code Bold Nerd Font Complete
# italic_font      Fira Code Italic Nerd Font Complete
# bold_italic_font Fira Code Bold Italic Nerd Font Complete

# Victor Mono
font_family      Cascadia Code Regular
bold_font        Cascadia Code Bold
italic_font      Cascadia Code Italic
bold_italic_font Cascadia Code Bold Italic

# Font size (in pts)
# templating {{- if (eq .chezmoi.hostname "red-zen") }}
font_size 11.0
# {{- else if (eq .chezmoi.hostname "dkishore-bu") }}
font_size 11.0
# {{- else if (eq .chezmoi.hostname "dileep-xmonad") }}
font_size: 8.0
# {{- end }}

# The cursor shape can be one of (block, beam, underline)
cursor_shape     block

# Characters considered part of a word when double clicking. In addition to these characters
# any character that is marked as an alpha-numeric character in the unicode
# database will be matched.
select_by_word_characters :@-./_~?&=%+#

# Visual bell duration. Flash the screen when a bell occurs for the specified number of
# seconds. Set to zero to disable.
visual_bell_duration 0.0

# Enable/disable the audio bell. Useful in environments that require silence.
enable_audio_bell yes

# The modifier keys to press when clicking with the mouse on URLs to open the URL
open_url_modifiers ctrl+shift

# The program with which to open URLs that are clicked on. The special value "default" means to
# use the operating system's default URL handler.
open_url_with default

# Copying
copy_on_select yes

# Prevent screen tearing
sync_to_monitor yes

# shell
shell zsh

# editor
editor nvim

# All keybindings are default

# Tokyo night, https://github.com/folke/tokyonight.nvim
background #1a1b26
foreground #c0caf5
selection_background #33467C
selection_foreground #c0caf5
url_color #73daca
cursor #c0caf5
# Tabs
active_tab_background #7aa2f7
active_tab_foreground #1f2335
inactive_tab_background #292e42
inactive_tab_foreground #545c7e
#tab_bar_background #15161E
# normal
color0 #15161E
color1 #f7768e
color2 #9ece6a
color3 #e0af68
color4 #7aa2f7
color5 #bb9af7
color6 #7dcfff
color7 #a9b1d6
# bright
color8 #414868
color9 #f7768e
color10 #9ece6a
color11 #e0af68
color12 #7aa2f7
color13 #bb9af7
color14 #7dcfff
color15 #c0caf5
# extended colors
color16 #ff9e64
color17 #db4b4b

# # gruvbox dark by morhetz, https://github.com/morhetz/gruvbox
# background  #282828
# foreground  #ebdbb2
# cursor                #928374
# selection_foreground  #928374
# selection_background  #3c3836
# color0  #282828
# color8  #928374
# # red
# color1                #cc241d
# # light red
# color9                #fb4934
# # green
# color2                #98971a
# # light green
# color10               #b8bb26
# # yellow
# color3                #d79921
# # light yellow
# color11               #fabd2d
# # blue
# color4                #458588
# # light blue
# color12               #83a598
# # magenta
# color5                #b16286
# # light magenta
# color13               #d3869b
# # cyan
# color6                #689d6a
# # lighy cyan
# color14               #8ec07c
# # light gray
# color7                #a89984
# # dark gray
# color15               #928374
